.password-wrap {
    width: 100%;
    padding: 30px 100px;
    text-align: center;
}

.logo-img {
    width: 25%;
}

input,
a,
button,
p {
    font-size: 12px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 15px;
}

p {
    color: #999999;
    line-height: 20px;
    padding-bottom: 20px;
}

form {
    margin-top: 30px;
}

.password-div {
    width: 35%;
    margin: auto;
}

input,
button {
    width: 100%;
    padding: 15px;
    border: none;
}

form input {
    border: 1px solid #DDDDDD;
    margin-bottom: 15px;
}

button {
    background-color: #DDDDDD;
    /* background-color: #000000; */
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 25px;
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    .password-div {
        width: 60%;
    }

    .logo-img {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .password-div {
        width: 90%;
    }

    .logo-img {
        width: 50%;
    }

}