a,
button,
i {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: black;
}

.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    z-index: 10;
}

.menu-wrap a {
    margin-right: 10px;
    font-weight: 700;
    font-size: 15px;
    padding: 0;
}

.menu-wrap button {
    border: none;
    background-color: inherit;
    line-height: 15px;
    padding: 0;
}

.menu-wrap i {
    margin-right: 3px;
}

.user-wrap i:first-child {
    font-size: 20px;
    color: #D9D9D9;
}

.user-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
}

.option-wrap,
.user-menu-wrap {
    border: 1px solid #A9A9A9;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 55px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.option-wrap {
    width: 25%;
    left: 70px;
}

.option-wrap ul {
    box-sizing: border-box;
    display: flex;
    padding: 15px 20px;
    width: 100%;
    justify-content: center;
}

.option-wrap li a {
    font-size: 12px;
    padding: 0 10px;
    border-right: 1px solid #A9A9A9;
}

.option-wrap li:last-child a {
    border-right: none;
}

.user-menu-wrap {
    padding: 20px 15px;
    width: 13%;
    right: 50px;
}

.user-menu-wrap li h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.user-menu-wrap li a,
.user-menu-wrap li button {
    font-size: 13.5px;
}

.user-menu-wrap li:nth-child(2) {
    margin-bottom: 10px;
}

.user-menu-wrap li button {
    border: none;
    background-color: white;
    padding: 0;
    cursor: pointer;
}