.register-wrap {
    width: 100%;
    padding: 30px 100px;
    text-align: center;
}

.logo-img {
    width: 25%;
}

input,
a,
button,
p,
i,
select {
    font-size: 12px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 25px;
}

form {
    margin-top: 30px;
}

.register-div {
    width: 35%;
    margin: auto;
}

input,
button,
select {
    width: 100%;
    padding: 15px;
    border: none;
}

form input[type=email],
form input[type=text],
form input[type=password],
select {
    border: 1px solid #A9A9A9;
    margin-bottom: 10px;
}

.email-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.email-wrap input {
    width: 70%;
}

.email-wrap select {
    width: 28%;
    color: #848383;
}

.form-etc {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-etc div {
    display: flex;
    align-items: center;
    color: #A9A9A9;
    /* color: #684FCA; */
    cursor: pointer;
    padding-bottom: 15px;
}

.form-etc i {
    margin-right: 5px;
    color: #737373;
    /* color: #684FCA; */
}

button[type=submit] {
    background-color: #A9A9A9;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 25px;
    font-size: 15px;
}

.sns-wrap p {
    font-size: 14px;
}

.sns-logo {
    display: flex;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 30px;
    justify-content: center;
    gap: 20px;
}

.sns-logo img {
    width: 40px;
}

@media screen and (max-width: 1200px) {
    .register-div {
        width: 60%;
    }

    .logo-img {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .register-div {
        width: 90%;
    }

    .logo-img {
        width: 50%;
    }

}